<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{% static "css/demo.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>WELCOME TO BANGALORE CITY</h1>
      </div>
      <img src="{% static "images/bang1.jpeg" %}" alt="">
      <img src="{% static "images/bang2.jpeg" %}" alt="">
      <img src="{% static "images/bang3.jpeg" %}" alt="">
  </div>
  <hr>
  {% if jobs_list %}
  <table>
      <thead>
        <th>Date</th>
        <th>Company</th>
        <th>Title</th>
        <th>Eligibility</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone number</th>
      </thead>
      {%for job in jobs_list %}
      <tr>
        <td>{{job.date}}</td>
        <td>{{job.company}}</td>
        <td>{{job.title}}</td>
        <td>{{job.eligibility}}</td>
        <td>{{job.address}}</td>
        <td>{{job.email}}</td>
        <td>{{job.phonenumber}}</td>
      </tr>
      {% endfor %}
  </table>
  {% else %}
  <p>No jobs found in BANGALORE</p>
  {% endif %}
  </body>
</html>
